@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Lato:300,400,700');

@font-face {
    font-family: Ampersand;
    src: local('Lucida Console');
    unicode-range: U+2a, U+2f, U+0026;
}

$margin: 1em;

$main-white: #FBFFFE;
$sub-white: #FFFFFC;
$main-black: #242424;
$main-grey: #515052;
$light-grey: #F4F4F4;
$main-blue: #5FD6DB;
$light-blue: lighten(#DDF0FF, 2%);                               
$main-red: #FF312E;
$light-red: lighten($main-red, 35%);
$main-green: rgb(36, 207, 107);
$light-green: lighten(rgb(36, 207, 107), 25%);
$main-orange: #FCDA7B;
$sub-orange: #F6A623;
$light-orange: lighten($main-orange, 10%);
$main-yellow: #FFFEB0;


a {
	color: currentColor;
}

a:hover, button:hover {
	cursor: pointer;
}

p {
	font-size: 1.2em;
	line-height: 1.8;
	letter-spacing: .004em;
	max-width: 45rem;
}

img {
	max-width: 100%;
	width: 100%;
}

figure {
	margin: 0;
	position: relative;
}

form {
	box-sizing: border-box;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

button {
	letter-spacing: .04em;
	text-transform: uppercase;
	font-family: 'Ampersand', 'Lato', sans-serif;
	border: 0;
	font-size: .95rem;
	text-align: center;
}

button:focus {
	border: 3px solid $main-blue;
	outline: none;
}

input, textarea {
	font-family: inherit;
	font-size: inherit;
}

textarea {
	padding: 1em;
	border: 0;
	background-color: $light-grey;
}

input:focus, textarea:focus, a:focus {
	outline: none;
	box-shadow: 0 0 .2em .2em $main-blue;
}

input[type="checkbox"] {
    position: absolute;
    clip: rect(0,0,0,0);
}

input[type="checkbox"] + label::before {
	content: '\a0';
	display: inline-block;
	vertical-align: middle;
	width: 1.2em;
	height: 1.2em;
	margin-right: .2em;
	background-color: $light-grey;
	text-indent: .25em;
	transition: all .2s ease-in-out;
	font-size: 1.2em;
}

input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 .2em .2em $main-blue;
}


input[type="checkbox"]:checked + label::before {
	content: '\2713';
	background-color: $light-green;
}

:disabled, [disabled] {
    cursor: not-allowed;
}

body {
	margin: 0;
	font-family: 'Ampersand', 'Lato', sans-serif;
	background-color: $main-black;
}

body > header {
	box-sizing: border-box;
	color: $main-white;
	width: 100%;
	background-color: $main-black;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

h1, h2, h3, legend {
	font-family: 'Bree Serif', 'Lato', serif;
}

h1 {
	font-size: 2em;
	margin: 1em 0;
	line-height: 1.2;
}

body > header > h1 {
	padding: $margin $margin*1.5;
	margin: 0;
	font-size: 1.5rem;
}

body > header > h1 span {
	font-size: 1rem;
	opacity: .8;
	display: block;
}

.chapter {
	color: $main-black;
	margin: 0;
}

.container-component {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 85vh;
	background-color: $main-white;
}

.component-block {
	background-color: $main-yellow;
	width: 100%;
	min-height: 60vh;
	display: flex;
 	align-items: center;
  	justify-content: center;
}

.component {
	background-color: $main-white;
	padding: $margin*1.5 $margin*2;
	margin: $margin*1.2;
}

.container-component > footer {
	box-sizing: border-box;
	min-height: 40vh;
	width: 100%;
	background-color: $main-white;
	padding: $margin*2.5 $margin*1.5;
}

.container-component > footer h2 {
	margin: 0;
}

.chapter:nth-child(odd) .component-block {
	background-color: $main-blue;
}



/*// ========================================================
//	Lightbox
// ========================================================*/
/* Resource lightbox: https://developer.mozilla.org/en-US/docs/Web/CSS/:target */
div.lightbox {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

div.lightbox:target {
	z-index: 1;
	display: flex;
	align-items: center;
  	justify-content: center;
}

div.lightbox:target .close-lightbox {
	display: block;
}

div.lightbox section {
	padding: $margin;
	background-color: $main-white;
}

.close-lightbox {
	display: none;
}

.close-lightbox::after {
	z-index: -1;
	content: '';		
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(22, 65, 67, .6);
}



/*// ========================================================
// Log in 
// ========================================================*/
.login-form fieldset {
	box-sizing: border-box;
	margin-bottom: $margin*.5;
}

button[type=submit] {
	display: block;
	width: 100%;
	color: $main-white;
	font-weight: 300;
	margin-top: $margin*.5;
	padding: $margin*.9 $margin*.7;
	background-color: $sub-orange;
	transition: all .2s ease-out;
}

button[type=submit]:hover, button[type=submit]:focus {
	background-color: darken($sub-orange, 5%);
	transform: translateY(-.2rem) scale(1.03);
	box-shadow: 0 15px 5px -10px darken($light-grey, 10%);
}

button[type=submit]:active {
	transform: translateY(.1rem) scale(1);
	box-shadow: none;
}

input[type=email], input[type=password] {
	transition: all .3s ease-in-out;
	border: 1px solid darken($light-grey, 10);
	padding: 1.5em;
}

label[for=field-stay-logged-in] {
	font-size: .8em;
	color: $main-grey;
}

.container-input:first-child input {
	border-bottom: 0;
}

.container-input:nth-child(2) {
	margin-bottom: .5em;
}

.container-input {
	position: relative;
}

.container-input label {
	color: $main-grey;
	position: absolute;
	left: 1.5em;
	top: 49%;
	transform: translateY(-50%);
	transition: all .3s ease-in-out;
}

/* Resource https://codepen.io/sivan/pen/alKwf */
.container-input input:focus + label {
	top: .8em;
	left: 2em;
	font-size: .8rem;
	color: $main-grey;
}

.container-input input[data-empty="false"] + label {
	top: .8em;
	left: 2em;
	font-size: .8rem;
	color: $main-grey;
}
/**/

.container-input input[data-empty="false"]:valid + label {
	color: $main-green;
}

form fieldset:first-child:valid input {
	background-color: $light-green;
	border-color: $main-green;
}

form fieldset:first-child:valid input[data-empty="false"]:valid + label {
	color: $main-grey;
}



/*// ========================================================
// Media Item
// ========================================================*/
.media-item-block {
	background-color: $light-red;
	width: 100%;
	min-height: 60vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.media-item-block > article:not(:first-child) {
	flex-basis: 45%;
}

.media-item {
	margin: 1em;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

.media-item header {
	position: relative;
}

.media-item:not(:first-child) header {
	font-size: 0.8em;
}

.media-item h1 {
    text-decoration: none;
    color: $main-black;
	font-weight: 300;
}

.media-item a {
	font-weight: 100;
	text-decoration: none;
}

.media-item a:after {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
}

.media-item a:focus:after {
	border: 5px solid $main-blue;
}



/*// ========================================================
// Chat
// ========================================================*/
.component-chat {
	background-color: $main-white;
	width: 90%;
}

ol.chat-list {
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

li.chat-item {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-end;
}

li.chat-item[data-message="received"] {
	align-items: flex-start;
}

li.chat-item .container-message {
	border-radius: 1em 1em 0;
	padding: $margin*.5 $margin;
	margin-bottom: $margin;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $main-blue;
	color: $main-white;
}

li.chat-item[data-message="received"] .container-message {
	background-color: $light-grey;
	color: $main-black;
	border-radius: 1em 1em 1em 0;
}

li.chat-item footer {
	margin: $margin*.5 .5em;
}

li.chat-item footer p {
	font-size: .7em;
	margin: 0;
	color: inherit;
	text-align: right;
	font-weight: 300;
}

.chat-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.chat-form label {
	color: $main-grey;
}

.chat-form textarea {
	height: 3rem;
}

.chat-form button {
	align-self: flex-end;
	display: inline-block;
	width: auto;
	padding: 1em 1.5em;
}


/*// ========================================================
// Navigation
// ========================================================*/
.main-nav {
	box-sizing: border-box;
	width: 100%;
	padding: $margin $margin 0;
	margin: 0 $margin;
	color: $main-white;
	background-color: $main-black;
}

.container-nav-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav h1 {
	margin: 0.2em;
}

.main-nav li {
	position: relative;
}

.main-nav a {
	font-weight: 300;
	text-decoration: none;
}

.main-nav a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main-nav-list {
	width: 100%;
	padding: .2em;
}

.main-nav-list > li {
	width: calc(100%/4);
}

.main-nav-list li {
	position: relative;
	background-color: $main-black;
	padding: .5em;
}

.main-nav-list li:hover, .main-nav-list li a:focus {
	background-color: $main-yellow;
	color: $main-black;
}

.main-nav-list > li:not(:last-child) { 
	border-bottom: 1px solid $main-yellow;
}

.sub-nav {
	display: flex;
	margin: 1em 0 0 1.5em;
	flex-direction: column;
	transition: all .3s ease-in-out;
}

.sub-nav a {
	color: $main-white;
}

.sub-nav li {
	list-style-type: disc;
	padding: .2em;
}

.sub-nav li:hover a{
	color: $main-black;
}



/*// ========================================================
// Picture with subtitle
// ========================================================*/
figure figcaption {
	box-sizing: border-box;
	font-size: .8em;
	font-weight: 300;
	color: $main-grey;
}

figcaption footer {
	font-weight: 300;
	font-size: .8em;
	color: $main-grey;
	text-align: right;
}



/*// ========================================================
// Rating
// ========================================================*/
.component-rating svg {
	width: 40px;
}

.component-rating legend {
	padding: .5em 1em;
	background-color: $main-white;
	font-size: 1em;
}

.component-rating input[type=radio] {
	position: absolute;
    clip: rect(0,0,0,0);
}

.component-rating input[type=radio]:indeterminate + label svg {
	filter: none;
}

.component-rating input:not(:checked) + label svg {
	filter: blur(2px);
	transform: scale(.9);
}

.component-rating label {
	float: left;
	font-size: .8em;
	display: flex;
	margin: $margin*.5 $margin;
	flex-direction: column;
	text-align: center;
}

.component-rating label svg {
	transition: all .3s ease-in-out;
}



/*// ========================================================
// Progress
// ========================================================*/
.component-progress {
	box-sizing: border-box;
	width: 100%;
}

.component-progress ol {
	font-size: 0.7em;
	font-weight: 300;
	overflow: hidden;
	display: flex;
	padding: 0;
	list-style-type: none;
}

.component-progress li {
	text-align: center;
	width: calc(100%/4);
}

.component-progress li:not(:last-child) {
	margin-right: 1.5em;
}

.component-progress li a, .component-progress li span {
	text-decoration: none;
	padding: 1em 0;
	padding-left: 2em;
	color: $main-grey;
	background-color: $light-grey;
	position: relative; 
	display: block;
}

.component-progress li:last-child span, .component-progress li:first-child a {
	padding-left: 1em;
}

.component-progress li a::after, .component-progress li:not(:last-child) span::after {
	transition: all .3s ease-in-out;
	content: ''; 
	border-top: 4em solid transparent;
	border-bottom: 4em solid transparent;
	border-left: 2em solid $light-grey;
	position: absolute;
	top: 50%;
	margin-top: -4em; 
	left: 100%;
	z-index: 2; 
}

.component-progress li a::before, .component-progress li:not(:last-child) span::before {
	content: ''; 
	border-top: 4em solid transparent;       
	border-bottom: 4em solid transparent;
	border-left: 2em solid $main-white;
	position: absolute;
	top: 50%;
	margin-top: -4em; 
	margin-left: .5em;
	left: 100%;
	z-index: 1; 
}

.component-progress li a::after {
	border-left: 2em solid $main-blue;
}

.component-progress li a {
	transition: all .3s ease-in-out;
	background-color: $main-blue;
	color: $main-white;
}

.component-progress li a:hover, .component-progress li a:focus {
	background-color: darken($main-blue, 20%);
}

.component-progress li a:hover:after, .component-progress li a:focus:after {
	border-left: 2em solid darken($main-blue, 20%);	
} 


/*// ========================================================
// Loader
// ========================================================*/
.component-loader {
	background-image:
		linear-gradient($light-red 23px, transparent 0),
	    linear-gradient($main-white 19px, transparent 0),
	    linear-gradient($light-green 89px, transparent 0),
	    linear-gradient($light-blue 43px, transparent 0);
	background-size: 100% 97px, 100% 73px, 100% 103px, 100% 61px;
}

.container-loader-blocks i {
	width: 1em;
	height: 1em;
	border-radius: 75% 15%;
	background-color: $main-blue;
	margin: 0 -.125em;
	transform: rotate(45deg);
	display: inline-block;
	vertical-align: middle;
	animation-name: middle-loading-blocks;
	animation-timing-function: linear;
	animation-duration: .8s;
	animation-iteration-count: infinite;
}

.container-loader-blocks i:first-child {
	animation-name: first-loading-block;
	animation-timing-function: ease-in;
	animation-duration: .8s;
	animation-iteration-count: infinite;
	opacity: 0;
	transform: translate(-1em) scale(0) rotate(45deg);
}

.container-loader-blocks i:last-child {
	animation-name: last-loading-block;
	animation-timing-function: ease-in;
	animation-duration: .8s;
	animation-iteration-count: infinite;
}

@keyframes middle-loading-blocks {
	100% {
		transform: translate(1em) scale(1) rotate(45deg);
	}
}

@keyframes first-loading-block {
	100% {
		transform: translate(1em) scale(1) rotate(45deg);
		opacity: 1;
	}
}

@keyframes last-loading-block {
	100% {
		transform: translate(2em) scale(0) rotate(45deg);
		opacity: 0;
		background-color: $main-blue;
	}
}

.spinning-loader {
	display: block;
	width: 2em;
	height: 2em;
	border-radius: 100%;
	border: .5em solid transparent;
	border-top-color: $main-blue;
	animation: rotate 1.5s infinite ease-in-out;
}

@keyframes rotate {  
	0% {transform:rotate(110deg);}
	50% {transform:rotate(250deg);} 
	100% {transform:rotate(110deg);} 
}



/*// ========================================================
// Media min-width
// ========================================================*/
@media only screen and (min-width: 55em) {
	header h1 span {
		display: inline-block;
	}

	.chapter:nth-child(odd) .component-block {
		order: 1;
	}

	.container-component {
		min-height: 85vh;
		flex-direction: row;
	}

	.component-block {
		min-height: 100%;
		width: 60vw;
	}

	.container-component > footer {
		height: 100%;
		width: 40vw;
	}

	/*// ========================================================
	// Navigation
	// ========================================================*/
	.main-nav {
		padding: 0;
		padding-left: $margin;
		display: flex;
		justify-content: space-between;
	}

	.main-nav-list li {
		padding: 1em;
		position: relative;
		text-align: center;
	}

	.main-nav-list > li:not(:last-child) { 
		border-right: 1px solid $main-yellow;
		border-bottom: 0;
	}

	.main-nav-list li[data-submenu='true']:after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 1em;
		height: .5em;
		left: 50%;
		transform: translateX(-50%);
		background-image: url(icon-down.svg);
		background-size: 1em;
	}

	.container-nav-heading {
		margin-right: $margin;
	}

	.main-nav-list {
		display: flex;
		width: auto;
	}

	.sub-nav {
		position: absolute;
		opacity: 0;
		clip: rect(0, 0, 0, 0); 
		height: 1px; 
		width: 1px; 
		margin: -1px; 
		padding: 0;
	}


	.sub-nav li {
		list-style-type: none;
	}

	.main-nav-list li:hover .sub-nav, .main-nav-list a:focus ~ .sub-nav {
		opacity: 1;
		top: 100%;
		left: 0;
		height: 100%;
		width: 100%;
		clip: auto;
		margin: 0;
	}

	/*// ========================================================
	// Media-item
	// ========================================================*/
	.media-item h1 {
		padding: .5em;
		font-size: 2em;
		line-height: 1.3;
		bottom: 0;
	    position: absolute;
	    width: 85%;
	    left: 1rem;
	    z-index: 1;
	    background-color: $main-black;
		color: $main-white;
	}

	.media-item:first-child h1 {
		font-size: 2.5em;
		bottom: 1rem;
	}

	.media-item:hover h1 {
		background-color: $main-orange;
		color: $main-black;
	}

	/*// ========================================================
	// Picture with subtitle
	// ========================================================*/
	figure figcaption {
		position: absolute;
		bottom: 0;
		width: 100%;
		color: $main-white;
		background-color: rgba(22, 65, 67, .6);
	}

	figcaption p {
		padding: $margin;
		margin: 0;
	}

	figcaption footer {
		color: $main-white;
		padding: $margin;
	}

	/*// ========================================================
	// Progress
	// ========================================================*/
	.component-progress {
		box-sizing: content-box;
	}

	.component-progress ol {
		font-size: 1em;
	}

	.component-progress li:last-child span, .component-progress li:first-child a {
		padding-left: 2.5em;
	}

	.component-progress li a, .component-progress li span {
		padding: 1em;
		padding-left: 3em;
	}

	.component-progress li a, .component-progress li span {
		text-decoration: none;
		padding: 1em;
		padding-left: 3em;
	}
}
